---
layout: page
title: recoflo
permalink: /
---

<!-- Slider Start -->
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">Advanced Document Capturing</h1>
          <p class="animated fadeInUp">for the cloud era</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>WE CHANGE THE WAY OF DIGITIZATION</h2>
            <p>
              <strong>recoflo</strong> offers a cloud based document capturing solution.
            </p>
          </div>
      
            <ul class="front-page">
              <li>ultra high speed classification and extraction</li>
              <li>fastest web based user interface with unique collaboration features</li>
              <li>scales to any volume utilitzing cloud features such as auto-scaling</li>
              <li>use of open source and cloud allows to deliver at very low price</li>
              <li>team of seasoned solution and IT experts make sure you get the highest value</li>         
            </ul>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/37719968-geschäftsmann-hand-arbeiten-mit-einer-cloud-computing-diagramm-auf-dem-neuen-computer-schnittstelle-al.jpeg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>LIMITLESS SCALABILITY</h2>
      <p>
        Do you face tight SLAs with growing volume?<br/>
        Does your volume vary over the day/week and your hardware is either poorly utilized or struggling to process peeks in the workload?<br/>
        Do your employees complain about slow user experience on peak loads?<br/>
        These problems are the past with <strong>recoflo</strong>. With a cloud-native software we have adressed theses issues and can work
        with any workload easily without compromising cost efficiency.
      </p>
      <a href="#" class="btn btn-view-works">Learn more</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>in a nutshell</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-cloud-done"></i>
          <h4>Cloud-native</h4>
          <p>100% developed on cloud and delivered by cloud</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-rocket"></i>
          <h4>Faster</h4>
          <p>With cloud features like <b>auto-scaling</b> we can offer faster processing at any given volume.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-aperture"></i>
          <h4>Excellent accuracy</h4>
          <p>Using advanced image processing methods combined with latest OCR software we achieve excellent accuracy.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-build"></i>
          <h4>No hardware</h4>
          <p>We don't require any special hardware. <strong>recoflo</strong> works with any scanner - from MFPs to high-end production scanners.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-save"></i>
          <h4>No software</h4>
          <p><strong>recoflo</strong> comes as Software-as-a-Service without costly on-premise installation
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-stopwatch"></i>
          <h4>Rapid setup</h4>
          <p>Project configuration happens online, if you want also iteratively without business disruption.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-stats"></i>
          <h4>Cost efficiency</h4>
          <p>Measurable operations efficiency, annuity-based revenue, OPEX not CAPEX</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-cash"></i>
          <h4>No license costs</h4>
          <p>We have a simple pay-as-you-go pricing. We don't charge license fees.</p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-people"></i>
          <h4>Awesome user experience</h4>
          <p>
            Our user interface gives you a native experience using Web Socket technology.
          </p>
        </div>
      </div>

      

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-cube"></i>
          <h4>Smart Solution on tap</h4>
          <p>TCO can be easily monitored (For BPOs and SSCs)</p>
        </div>
      </div>


      

      
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We bring web-based user experience to the next level.</h2>
          <p>
             The <strong>recoflo</strong> user interface will reduce your manual entry correction time.
          </p>
          <p>

            A fast web-based user interface is important to be quick on even completely machine-unrecognizable documents, working on exceptions or 4-eyes double checks. 

          </p>

          
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cuU27BfX_6g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

          <br/>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Schedule a Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Some Facts About Us</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
