<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-4">
            <img height="60" src="{{ site.baseurl }}/img/recoflo_menu_logo_color.svg" alt="Logo">
          </div>
          <div class="col-md-3">
            <div class="footer-menu">
              <h3>Connect with us</h3>
              <a href="https://www.linkedin.com/company/recoflo-ag/"><i class="fa fa-linkedin"></i> LinkedIn</a><br/>
              <a href="https://twitter.com/swissrecoflo"><i class="fa fa-twitter"></i> Twitter</a><br/>
            </div>
          </div>

          <div class="col-md-3">
            <div class="footer-menu">
              <h3>Company</h3>
              <a href="{{ site.baseurl }}/about-us">About us</a><br/>
              <a href="{{ site.baseurl }}/privacy">Privacy Policy</a><br/>
            </div>
          </div>

        </div>
        <div class="copyright">
          <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
